---
interface Props {
  nroWhatsapp: string;
}
const { nroWhatsapp } = Astro.props;
---

<div id="modalSugerirCancion" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/flores_Grupo04_A.webp">
          <source type="image/png" srcset="/flores_Grupo04_A.png">
          <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000" data-aos-once="false" src="/flores_Grupo04_A.png" alt="" loading="lazy">
        </picture>

        <picture>
          <source type="image/webp" srcset="/flores_Grupo04_B.webp">
          <source type="image/png" srcset="/flores_Grupo04_B.png">
          <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" data-aos-once="false" src="/flores_Grupo04_B.png" alt="" loading="lazy">
        </picture>

        <div class="img-top-modal d-flex justify-content-center align-items-start">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/img_circuloCanciones.svg" alt="">
          </div>
        </div>

        <div class="modal-header">
          <h5 class="modal-title">Sugerir Canci贸n</h5>
        </div>

        <div class="modal-body">
          <div class="formulario-content">
            <form id="formSugerirCancion" action="">
              <div class="form-group">
                <input type="text" class="form-control" id="nombreSugerencia" name="nombre" placeholder="Tu nombre">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="descripcionSugerencia" name="descripcion" placeholder="Nombre de canci贸n y autor">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="linkSugerencia" name="link" placeholder="Si lo desea ingrese el link de YouTube, Spotify, etc.">
              </div>

              <input type="hidden" name="invitacion" value="">
              <input type="hidden" name="token" value="">
              <input type="hidden" name="wp-sugerencia" value={nroWhatsapp}>
            </form>
          </div>

          <div class="msj-content d-flex flex-column justify-content-center"></div>
        </div>

        <div class="modal-footer">
          <button type="button" id="sendSugerenciaCancion" class="boton boton--azul">Sugerir canci贸n</button>
        </div>

      </div>
    </div>
  </div>
</div>


<script>

  const is_url = function(url:any): Boolean {
    try { return Boolean(new URL(url)); } 
    catch (e) { return false; }
  }


  function isOkSugerirCancion() {
    $("#error-form").remove();
    var flag = true;
    var err = '';

    //@ts-ignore
    var sugerenciaName = $("#nombreSugerencia").val().trim();
    //@ts-ignore
    var sugerenciaDescription = $("#descripcionSugerencia").val().trim();
    //@ts-ignore
    var sugerenciaLink = $("#linkSugerencia").val().trim();

    // Descripcion
    if (sugerenciaDescription == '') {
      flag = false;
      err = "Es necesario ingresar el nombre de la canci贸n y su autor para que pueda encontrarla.";
    } 
    else if (sugerenciaDescription.length > 50)
    {
      flag = false;
      err = "El campo de descripci贸n no puede superar los 50 caracteres.";
    }
    
    // Link
    if (sugerenciaLink != '') {
      if (!is_url(sugerenciaLink)) {
        flag = false;
        err = "El link ingresado no es v谩lido.";
      }
      if (sugerenciaLink.length > 250) {
        flag = false;
        err = "El link no puede superar los 250 caracteres.";
      }
    }

    // Nombre
    if (sugerenciaName == '') {
      flag = false;
      err = "Es necesario ingresar tu nombre.";
    } else if (sugerenciaName.length > 20) {
        flag = false;
        err = "El nombre no puede superar los 20 caracteres.";
    }

    // Si hay error
    if (flag === false) {
      $('#formSugerirCancion').after('<span id="error-form">' + err + '</span>');
    }

    // Retorno el estado de la validacion
    return flag;
  }

  $('body').on('click', '#sendSugerenciaCancion', function(e) {
    e.preventDefault();

    if (isOkSugerirCancion()){
      const $btn = $("#sendSugerenciaCancion");
      const textoOriginal = $btn.text();
      
      $btn.text("Abriendo WhatsApp...").prop("disabled", true);

      var formulario = $("#formSugerirCancion")[0];
      // @ts-ignore
      var datos = new FormData(formulario);

      const nombre = datos.get('nombre') || 'Invitado';
      const cancion = datos.get('descripcion') || 'No especificada';
      const link = datos.get('link') || '';
      const mensaje = `
* 隆Sugerencia musical para el 15! *

 *De:* ${nombre}
 *Canci贸n:* ${cancion}
${link ? ` *Link:* ${link}` : ''}

隆Espero que suene en la pista! `.trim();


      const url = `https://wa.me/${datos.get('wp-sugerencia')}?text=${encodeURIComponent(mensaje)}`;

      window.open(url, "_blank");
      $btn.text(textoOriginal).prop("disabled", false);

      $('#formSugerirCancion').hide(); 
      $('#modalSugerirCancion .modal-footer, #modalSugerirCancion h5').hide();

      $('#modalSugerirCancion .msj-content').html(`
          <div class="text-center">
              <h5 class="mb-3">隆Sugerencia enviada!</h5>
              <p>Tu mensaje se ha generado correctamente. Si no se abri贸 WhatsApp, intenta de nuevo.</p>
              <button type="button" id="btnCerrarExito" class="boton boton--azul">Cerrar</button>
          </div>
      `).show();

      $('#modalSugerirCancion .modal-body').addClass('fix-height');
    }
  });
    
    
  $('body').on('click', '#btnCerrarExito', function() {
    //@ts-ignore
    $('#modalSugerirCancion').modal('hide');
    
    setTimeout(function() {
      //@ts-ignore
      $('#formSugerirCancion')[0].reset();
      $('#formSugerirCancion').show();
      $('#modalSugerirCancion .modal-footer, #modalSugerirCancion h5').show();
      $('#modalSugerirCancion .msj-content').html('').hide();
      $('#modalSugerirCancion .modal-body').removeClass('fix-height');
    }, 500); 
  });



</script>